<?xml version="1.0"?>
 
<configuration>
    <system.web>
       <httpRuntime requestPathInvalidCharacters="" />
       <pages validateRequest="false" />
    </system.web>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
	    <remove fileExtension=".7z" />
            <mimeMap fileExtension=".7z" mimeType="application/x-7z-compressed" />
       </staticContent>
       <security>
            <requestFiltering allowDoubleEscaping="false" />
       </security>
    </system.webServer>
</configuration>
